<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <input type="text" [(ngModel)]="request.guid"
         id="guid"
         name="guid"
         placeHolder="ID">
  <input type="text" [(ngModel)]="request.firstName"
         id="firstName"
         name="firstName"
         placeHolder="Prénom">
  <input type="text" [(ngModel)]="request.lastName"
         id="lastName"
         name="lastName"
         placeHolder="Nom">
  <input type="text" [(ngModel)]="request.street"
         id="street"
         name="street"
         placeHolder="Adresse">
  <input type="text" [(ngModel)]="request.city"
         id="city"
         name="city"
         placeHolder="Ville">
  <input type="text" [(ngModel)]="request.zip"
         id="zip"
         name="zip"
         placeHolder="Code Postal">
  <button type="submit"
          class="btn btn-info">Rechercher
  </button>
</form>
